{% extends "base_template.html" %}
{% block title %}Receta{% endblock %}
{%block content%} 
        <h1>{{receta.nombre}}</h1>
        <h2>Publicado por {{persona.nombre}}      {{receta.fecha}} </h2>
        <h3>Ingredientes: </h3>
        {%for unIngrediente in ingredientes%} 
                <p>{{unIngrediente.nombre}} {{unIngrediente.cantidad}} {{unIngrediente.unidad}}</p>
        {%endfor%} 
        <h3>Elaboración: {{receta.elaboracion}}</h3>
        <a>Tiempo: {{receta.tiempo}} minutos</a>
        {%if usuario.id != receta.usuarioid %}
                <form action="{{url_for('darLike',id=receta.id)}}"method='post'>
                        <input type="submit" value="Me gusta">
                </form>
        {%endif%}
{%endblock%}