{% extends "base_template.html" %}
{% block title %}Receta{% endblock %}
{%block content%}
<div class="hero-image8">
        <div id="hero-text">
                <h1 class="title3">{{receta.nombre}}</h1>
                <p class="receta">Publicado por {{persona.nombre}}      {{receta.fecha}} </p>
                <h2>Ingredientes: </h3>
                {%for unIngrediente in ingredientes%} 
                        <p>{{unIngrediente.nombre}} {{unIngrediente.cantidad}} {{unIngrediente.unidad}}</p>
                {%endfor%} 
                <h2>Elaboración: </h2>
                <p>{{receta.elaboracion}}</p>
                <a>Tiempo: {{receta.tiempo}} minutos</a>
                {%if usuario.id != receta.usuarioid %}
                        <form class="like" action="{{url_for('darLike',id=receta.id)}}"method='post'>
                                <i class="fa-solid fa-thumbs-up"></i>
                                <input class="botons" type="submit" value="Me gusta">
                        </form>
                {%endif%}
        </div>
</div>
{%endblock%}